@page
@model ImpressumModel
@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>

<!-- <p>This page is under construction as of @ViewData["TimeStamp"]</p> -->
<p>
    Laura Schöne
    <br />
    Hamelner Str. 52
    <br />
    32683 Barntrup
    <br />
    E-Mail: schoene_l@web.de
    <br />
    <br />
    Bemerkung:
    <br />
    Die Impressumspflicht im Internet ist in § 5 des Telemediengesetzes (TMG)
    geregelt und gilt für alle geschäftsmäßigen, in der Regel gegen Entgelt
    angebotenen Telemedien. Da dies kein geschäftsmäßiges Telemedium ist, gilt hier
    keine Impressumspflicht.
</p>